#title-produto {
    padding-bottom: 5px;
}

#button-cadprod {
    background-color: rgb(170, 170, 170);
    font-family: 'Roboto Slab', serif;
    width: 250px;
    font-size: 15px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    cursor: pointer;
}

#limpar-cadprod {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 15px;
    font-family: 'Roboto Slab', serif;
}

#qtidadeProduto {
    margin-bottom: 25px;
    font-family: 'Roboto Slab', serif;
    font-size: 15px;
}

#codProduto {
    font-family: 'Roboto Slab', serif;
}

#nomeProduto {
    font-family: 'Roboto Slab', serif;

}