#title-welcome {
    align-items: center;
    justify-content: center;
    display: flex;
    padding-top: 50px;
    font-size: 50px;
    font-family: 'Roboto Slab', serif;
}

#text-welcome {
    align-items: center;
    justify-content: center;
    display: flex;
    font-size: 22px;
    max-width: 950px;
    padding-left: 230px;
    padding-top: 50px;
    font-family: 'Roboto Slab', serif;
    padding-bottom: 100px;
}